* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #509091;
}

header {
    background-color: #6982c0;
}

div {
    height: 6rem;
}

h1 {
    text-align: center;
    line-height: 6rem;
    padding: 0;
}

nav {
    background-color: #555454;
    height: 6rem;
    text-align: right;
    position: relative; /* Upewniamy się, że nav jest odpowiednio widoczny */
}

nav a {
    background-color: #d1d0a3;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 60px;
    line-height: 6rem;
    padding: 3px 30px;
    border-radius: 5px;
}

nav a:last-child {
    margin-right: 100px;
}

nav a:hover {
    font-size: 2rem;
    background-color: #fff;
}

main {
    background-color: #8071aa;
    /* Wysokość głównej sekcji z uwzględnieniem header, nav i footer */
    /* height: calc(100vh - 6rem - 6rem - 8vh - 15vh);  */
    height: 8rem;
}

section {
    float: right;
    width: 70%;
    background-color: #abb46e;
    height: calc(100vh - 6rem - 6rem - 8vh - 8rem); /* Wysokość sekcji dopasowana do main */
}

aside {
    background-color: #5c7e5c;
    float: left;
    width: 30%;
    height: calc(100vh - 6rem - 6rem - 8vh - 8rem); /* Wysokość dopasowana do main */
}

footer {
    background-color: #323131;
    height: 8vh;
    color: white;
    font-size: 1.2rem;
    line-height: 8vh;
    padding: 0 10rem;
    clear: both;  /* Zapobiega nachodzeniu innych elementów */
}
