* {
   margin: 0;
    padding: 0;
}
body {
    background-color: #509091;
}
header {
    background-color: #6982c0;
  
}
div {
    height: 6rem;
}
h1 {
    text-align: center;
    /* height: 3.5rem; */
    line-height: 6rem;
    padding: 0;
    

}
nav {
    background-color: #555454;
    height: 6rem;
    text-align: right;
}
nav a {
    background-color: #d1d0a3;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 60px;
    line-height: 6rem;
    padding: 3px 30px;
    border-radius: 5px;
}
nav a:last-child {
    margin-right: 100px;
}
nav a:hover {
    font-size: 2rem;
    background-color: #fff;
}
main {
    background-color: #8071aa;
    height: 30vh;
}
section {
    float: right;
    width: 70%;
    background-color: #abb46e;
    /* height: 36vh; */
    height: 30vh;
}

aside {
    background-color: #5c7e5c;
    height: 30vh;
    float: left;
    width: 30%;
}

footer {
    background-color: #323131;
    height: 8vh;
    color: white;
    font-size: 1.2rem;
    line-height: 8vh;
    padding: 0 10rem;
    clear: both;  /* Zapobiega nachodzeniu innych elementów */
}